.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.menu {
  background-color: #323131;
  max-width: 70%;
  min-width: 750px;
  min-height: 700px;

  border-radius: 10px;
}

.headerMenu {
  display: flex;
  position: relative;
  padding: 24px 36px;
}

.title_header {
  flex-basis: 95%;
}

.name_header {
  margin: 0;
  font-size: 26px;
  line-height: 36px;
}

.info_wrapper {
  display: flex;
}

.info_left {
  border-right: 1px solid #424141;
  flex-grow: 1;
  max-width: 280px;
}

.info_right {
  padding: 0px 36px 24px 36px;
  flex-grow: 1;
  max-width: 400px;

}



.close {
  position: absolute;
  right: 36px;
  top: 24px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(255, 255, 255);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
