.left_btn {
    display: block;
      padding: 12px 16px;
      border-radius: 4px;
      font-size: 18px;
      flex-grow: 1;
    }
    
    .btn_active {
      background-color: gray;
    }

    @media (max-width: 768px) {
      .left_btn {
          font-size: 16px;
        }
    
    }
    @media (max-width: 480px) {
      .left_btn {
        text-align: center;
        border: 1px solid gray;
        border-radius: 10px;
      }
    
    }