.wrapper {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  user-select: text;
  margin: 8px 0px;
}
.keyName {
  padding-right: 4px;
  text-align: left;
}
.value {
  padding-left: 4px;
  font-size: 18px;
  color: white;
  text-align: right;
}
.keyName,
.value {
  margin: 0;
}
.dot {
  flex: 1;
  border-bottom: 2px dotted gray;
}

@media (max-width: 768px) {
  .keyName {
    font-size: 14px;
  }
  .value {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .keyName {
    font-size: 12px;
  }
  .value {
    font-size: 12px;
  }
}
