.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
}

.wrapper:hover {
  background-color: #16161626;
}

.link{
  text-decoration: none;
}
.statOnline {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 12px;
  min-width: 8px;
  background-color: green;
}

.statOffline {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 12px;
  min-width: 8px;
  background-color: red;
}

.infoKiosk {
  display: flex;
  align-items: center;
}

.info {
  width: 250px;
}

.name {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

.namePC {
  width: 200px;
  text-align: right;
}
.version{
  width: 62px;
  text-align: center;
}
.namePC,
.version, .machineName {
  margin: 0;
  font-size: 18px;
}

.description {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .version{
    display: none;
  }
  .namePC, .machineName {
  font-size: 14px;
  } 
}
@media (max-width: 480px) {
  .wrapper{
    padding: 8px;
  }

  .info{
    width: 150px;
  }
  .name {
    font-size: 14px;
  }
  .description {
    font-size: 10px;
    white-space: break-spaces;
  }
  .namePC {
    /* width: 120px; */
   }

  .namePC, .machineName {
    font-size: 14px;
    } 
}

@media (max-width: 370px) {
  .name {
    font-size: 10px;
  }
  .description {
    font-size: 10px;
    white-space: break-spaces;
  }
  

  .namePC, .machineName {
    font-size: 10px;
    } 
}

