.wrapper{
  width: 100%;
}
.information {
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.callenfrInfo{
  font-size: 16px;
  font-weight: 400px;
  color: rgba(255, 255, 255, 0.53)
}


@media (max-width: 768px) {
  .information {
    margin-bottom: 10px;
    font-size: 12px;
    
  }

  .callenfrInfo{
    font-size: 12px;
  }

}
@media (max-width: 480px) {

  .information {
    text-align: center;
    
  }

}
